<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>ProductManagementWebApp</display-name>

   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>

    <!-- Servlet mappings are typically done with @WebServlet in Servlet 3.0+ -->
    <!-- Example if you were NOT using @WebServlet:
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.yourpackage.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    -->

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_page.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_page.jsp</location>
    </error-page>
</web-app>